<!doctype html>
<html> 
	<head> 
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/> 
		<title>Listagem de bares</title> 
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
		
	</head> 
	<body> 
		<div class="container">
			 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		        <div class="navbar-header">
		        <a class="navbar-brand" href="#">Cadastro de Bares</a>
	        </div>
		        <div class="collapse navbar-collapse">
		          <ul class="nav navbar-nav">
		            <li><a href="/">Cadastrar</a></li>
		            <li><a href="{{ url_for("listar_bares") }}">Listar</a></li>
		          </ul>
		      	</div>
      		</div><br><br><br>

      		{% block editar %}{% endblock %}
			{% block cadastrar %}{% endblock %}
			{% block listar %}{% endblock %}

		</div>
		</body>
</html>
      		