	{% extends "base.html" %}

	{% block editar %}
		<form action="" method="POST" class="navbar-form pull-left" enctype="multipart/form-data">
			{{ form.csrf_token }} 
			<p><label for="nome">Nome do bar:</label><br> 
			<input name='nome' class="form-control" type="text" value='{{ bar.nome }}'>
			<p><label for="descricao">Descrição:</label><br /> 
			<textarea name='descricao' class="form-control" >{{ bar.descricao }}</textarea>
			<p><label for="endereco">Endereço:</label><br /> 
			<input name='endereco'  class="form-control" type="text" value='{{ bar.endereco }}'>
			<p><label for="telefone">Telefone:</label><br /> 
			<input name='telefone'  class="form-control" type="tel"  value='{{ bar.telefone }}'>
			<p><label for="especialidade">Especialidade:</label><br /> 
			<textarea name="especialidade" class="form-control" >{{ bar.especialidade }}</textarea>
			<p><label for="imagem">Imagem:</label><br /> 
			<label class="checkbox">
				<input type="checkbox" name="remover_img" value="remover"> Remover Imagem<br>
			</label>
			<img src="{{ url_for('uploaded_file', filename=bar.imagem) }}" class="img-circle" width="150" height="150"><br><br>
			<input name='imagem' type='file'><br><br>
			<button class="btn btn-primary" type="submit">Atualizar</button>
		<form>
		
	{% endblock %}
	