	{% extends "base.html" %}
		{% block cadastrar %}
			{% from "macro.html" import render_field %}
				<form action="" class="navbar-form pull-left" method="POST" enctype="multipart/form-data">
					{{ form.csrf_token }} 
					{{ render_field(form.nome) }} 
					{{ render_field(form.descricao) }} 
					{{ render_field(form.endereco) }} 
					{{ render_field(form.telefone) }} 
					{{ render_field(form.especialidade) }} 
					{{ render_field(form.imagem) }} 
					<button class="btn btn-success" type="submit">Cadastrar</button>
				<form>
					<br><br>
			
		{% endblock %}