	{% extends "base.html" %}
		{% block listar %}
		{% if bares %}
			{% for bar in bares %} 

			<div class="row">
				<div class="col-md-8" style="width:150px">
				<b><label for="nome">Nome do bar: </label></b><br>
				<b><label for="descricao">Descrição: </label></b><br>
				<b><label for="endereco">Endereço: </label></b><br>
				<b><label for="telefone">Telefone: </label></b><br>
				<b><label for="especialidade">Especialidade:</label></b><br><br>
				<img src="{{ url_for('uploaded_file', filename=bar.imagem) }}" class="img-circle" width="200" height="200">
				
	
				</div>
  				<div class="col-md-4" style="width:200px;line-height:24px">
  					{{ bar.nome }}<br>
					{{ bar.descricao }}<br>
					{{ bar.endereco }}<br>
					{{ bar.telefone }}<br>
					{{ bar.especialidade }}<br><br>
					
				</div>
				<div class="col-md-4" style="width:200px">
					<a href="{{ url_for('editar', id=bar.id) }}" class="btn btn-primary active" role="button">Editar</a> <br><br>
					<form action="/apagar" method="POST"> 
						<input type="hidden" name='id' value='{{bar.id}}'>
						<button class="btn btn-danger" type="submit">Apagar</button>
					</form>					
				</div>
			</div>
			<hr>
			{% endfor %} 
		{% else %}
			<label>Não há cadastros.</label>
		{% endif %}


		{% endblock %}
			
	