{% macro render_field(field) %} 
	<p><label for="{{ field.id }}">{{ field.label }}:<br /> 
{{ field(class="form-control", **kwargs)|safe }} 
	{% if field.errors %} 
		<ul class="errors"> 
			{% for error in field.errors %} 
				<li>{{ error }}</li> 
			{% endfor %} 
		</ul> 
	{% endif %} 
	</p> 
{% endmacro %}
